.App {
  text-align: center;
  
}
*{
  box-sizing: border-box;
  outline: none !important;
  text-decoration: none !important;
}
.inputDescription{
  width: 300px;
  margin-top: 18px  !important;
}
.uploadProduct-input{
  border: 1px dashed grey;
  border-radius: 5px;
  height: 50px;
  width: 80%;
  margin: 0 auto;
}

.uploadProduct-input:hover{
  border: 1px solid black;
}

/* onboarding */
#username-helper-text{
color:#f44336
}
#name-helper-text{
  color:#f44336
}



.btn-signup-header{
  background-color: whitesmoke;
  color: black;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
}
.btn-signup-header:hover{
  background-color: rgb(204, 204, 204);
}
.btn-about{
  background-color: white;
  color: black;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
}
.btn-about:hover{
  background-color: black;
  color: white;
}

.btn-blueSwapit{
  background-color: rgb(0, 111, 155);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
}
.btn-blueSwapit:hover{
  background-color: #005272;
}

.btnBlue2{
  color: #006f9b;
}

.editImg{
  border-radius: 50%;
  width: 40%;
}

.absolute-edit-photo{
  background-color: white !important;
  position:absolute !important;
  bottom:10px !important;
  right:90px !important;
  border: 1px solid rgb(226, 226, 226) !important;
  width: 30px !important;
  height: 60px !important; 
  border-radius: 50% !important;
}
.absolute-edit-photo:hover{
  background-color: whitesmoke !important;
}

.wrapper-registration{
  
  background-color: white;
  border: grey;
  border-radius: 15px;
  width: auto;
  max-width: 400px;
  margin-top: 30px;
  height: auto;
  padding: 30px 20px;
 
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
}
.containerForm{
  margin: 15px !important;
}


.input-form{
  width: 300px;
  height: 40px;
  margin: 25px 0 !important;
}




/* MOBILE */

.searchBarDiv{
  padding: 0 !important;
 position: initial !important;
  width: 100% !important;
  

}
.formLog{
  width: 500px;
  margin: 0 auto;
  margin-top: 3rem;
}

  
.my-masonry-grid {padding: none;}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navbar */
.marginDiscover{
  margin: 5%;
}
.navIcons{
  width: 2rem;
}
.backIcons{
width: 1rem;
}
.backLogo{
  width: 20px;
 
  }
  .cardChat{
    background-color: whitesmoke !important;
    border: whitesmoke !important;
    width: 100% !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-top: 10px !important;
    margin: 10px !important;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
    border-radius: 15px !important;
  }
.makeStyles-chatWindow-3{
  padding: none !important;
}
.logandedit{
  display: flex;
  align-content: center;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.backBG{
top: 50px;
padding: 10px;
width: 50px;
border-radius: 50%;
background-color: rgba(255,255,255,.2);
}
.navbar{
  width: 100%;
}
.profileImg{
  object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.deleteProd{
  bottom: 2%;
  left: 5%;
}
.creationsImg{
  border-radius:15px 15px 0 0 !important;
}
.profileImgNav{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* profile */
.creatorDetails img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.haveListCard img{
max-width: 10.5rem;
max-height: 100%;
object-fit: cover;
border-radius: 5px;
}

.haveListCard{
  padding: 0 !important;
  font-size: .9rem;
}

.haveListCard>img:hover {
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  margin-bottom: 1px;
}

.heart{
  
  width: 30px;
}

/* .haveList{
width: 95%;
} */

.addCreation-btn{
    background-color:  #006f9b !important;
    border: none !important;
    color: white !important;
    border-radius: 15px !important;
    font-size: 1.5rem !important;
    padding: 1rem 3.2rem !important;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}
.addCreation-btn:hover{
  background-color: #005272 !important;
}


/* discover */
.dropdown{
  width: 20px;  
  height: 12px;
 
}
.creationsCard img{
object-fit: cover;
  width: 100%;
  max-width:450px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 15px;
  }

  .creationsCard>img:hover {
    box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
    margin-bottom: 1px;
  }

  .creationsCard h5{
    color: #282c34;
    text-decoration: none;
  }
  /* details */

  .btn-swapit-mobile{
    background-color: #006f9b;
    color: whitesmoke;
    width: 80%;
    height: 60px;
    font-size: 25px;
    border-radius: 15px;
    }

    .edit-btn-mobile{
      background-color: rgb(203, 145, 115);
      color: whitesmoke;
      width: 80%;
      height: 60px;
      font-size: 25px;
      border-radius: 15px;
      }

  .cardDetails2{
    margin: 30px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    background-color: whitesmoke;
   padding: 15px;
  }

  .detailsCard img{
    max-width: 100%;
  }
  
  .imgContainer{
    position: relative;
    background-size: cover;
    min-width: 95%;
    min-height: 400px;
    max-height: 500px;
    border-radius: 15px;
  }

  .btn-heart {
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-back {
    width: 40px;
    height: 40px;
  }

.swapit-btn button{
  font-size: 25px;
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none !important;
}

.creatorImage{
  object-fit: cover;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
  margin-bottom: 2%;
}

.creatorDetails{
  font-size: 15px;
  color: #282c34;

}
.creatorDetails p {
  padding: 0 20px;
}


.creationsCard img:hover{
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  margin-bottom: 1px;
}

.descriptionCard{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.descriptionCard:hover{

    text-overflow: unset;
    overflow:show;
    white-space: normal;

}
.imgCard{
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  border-radius: none !important;
  
}

/* discover */
.discoverCard{
  margin-bottom: 15% !important;
}
.discoverCard img{
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  max-width:550px;
  max-height: 450px;
  object-fit: cover;
}
.discoverCard img:hover{
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  margin-bottom: 1px;
}

.discoverCard h5{
  padding-top: 3%;
  color: #282c34;
}


/* mobile categories */

.btnCategory{
  width: 120px;
  height: 35px;
  border-radius: 0px !important;
  padding-bottom:35px!important;
  font-size: 16px !important;
}

.btn-drawings{
background-color:rgba(66, 21, 55, .9) !important;
border: 3px solid #320A28 !important;
color: oldlace !important
}

.btn-wood{
  background-color: rgba(81, 23, 48, .9) !important;
  border: 3px solid  rgb(81, 23, 48)!important;
  color: oldlace !important
}

.btn-textile{
  background-color: rgba(142, 68, 61, .9) !important;
  border: 3px solid  rgb(142, 68, 61)!important;
  color: #282c34 !important;
}

.btn-decoration{
  background-color: rgba(203, 145, 115, .8) !important;
  border: 3px solid  rgb(203, 145, 115)!important;
  color: #282c34 !important;
}

.btn-photography{
  background-color: rgb(226, 218, 160) !important;
  border: 3px solid  rgb(224, 214, 138)!important;
  color: #282c34 !important;
}

  .btn-drawings2:hover{
    background-color:rgba(66, 21, 55, .7) !important;
    border: 2px solid rgba(66, 21, 55, .9) !important;
    color: white !important
    }
    
    .btn-drawings2:focus{
      background-color:rgba(66, 21, 55, .9) !important;
      border: 2px solid rgba(66, 21, 55, .9) !important;
    color: white !important
      }
    
  .btn-wood2:hover{
    background-color: rgba(81, 23, 48, .5) !important;
    border: 2px solid rgba(81, 23, 48, .9) !important;
    color: white !important
  }
  .btn-wood2:focus{
    background-color: rgba(81, 23, 48, .9) !important;
    border: 2px solid rgba(81, 23, 48, .9) !important;
    color: white !important
  }

  .btn-textile2:hover{
    background-color: rgba(142, 68, 61, .6) !important;
    border: 2px solid rgba(142, 68, 61, .6) !important;
    color: white !important
  }
  .btn-textile2:focus{
    background-color: rgba(142, 68, 61, 1) !important;
    border: 2px solid rgba(142, 68, 61, 1) !important;
    color: white !important
  }

  .btn-decoration2:hover{
    background-color: rgba(203, 145, 115, .6) !important;
    border: 2px solid rgba(203, 145, 115, .6) !important;
    color: white !important
   
  }
  .btn-decoration2:focus{
    background-color: rgba(203, 145, 115, 1) !important;
    border: 2px solid rgba(203, 145, 115, 1) !important;
    color: white !important
  }

  .btn-photography2:hover{
    background-color:rgba(226, 218, 160, .6) !important;
    border: 2px solid rgba(226, 218, 160, .6) !important;
    color: white !important
  }
  .btn-photography2:focus{
    background-color: rgba(226, 218, 160, 1) !important;
    border: 2px solid rgba(226, 218, 160, 1)!important;
    color: white !important
  }
  
  .btn-allProducts2:hover{
    background-color:rgba(99, 95, 95, .5)!important;
    border: 2px solid rgba(99, 95, 95, .5)!important;
    color: white !important
  }
  .btn-allProducts2:focus{
    background-color:gray!important;
    border: 2px solid rgba(99, 95, 95, .5)!important;
    color: white !important
  }
  
#category-collapse button {
  width: 100%;
}

.category-group{
  border-radius: 15px;
}

.btn-searchCategory{
  width: 100%;
  height: 45px;
  border: none !important;
  background-color:#006f9b !important;
  border-radius: 15px !important;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

.searchBar{
  width: 100% !important;
  position: initial !important;
  height: 45px;
  border-radius: 15px;
  border: 1px solid gainsboro;
  background-color: rgba(255,255,255,.6);
  padding: 0 !important;
 
}

/* user Profiles */

.modalUsers{
  border-radius: 15px;
  background-color: whitesmoke;
}
.modalUsers img{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
}
.modalUsers .productImg{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
}
.modalUsers .userImg{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
}
.modalUsers h5{
  margin: 0 !important;
  color: #282c34 !important;
}
.borderNotis{
  background-color: rgba(255, 0, 0, .7);
  border-radius: 50%;
  top: 0px;
  left: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  align-items: center;
}

.bgDeleteProduct{
  border-color: rgba(40, 44, 52, 0.5) !important;
  border-radius: 50% !important;
}

.containerUserProfile{
  margin: 5%;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 3%;
}
.usersProductCards{
  padding: 3%;
  border-radius: 15px;

}

.usersProdImg{
  border-radius: 15px 15px 0 0 !important;
}

.usersProductCards img{
  object-fit: cover;
    width: 100%;
    max-width:450px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 15px;
    }
    .hoverNavbarIcons{
     padding: 10px;
     border-radius: 50%;
      }
      .hoverNavbarIcons:hover{
       background-color: whitesmoke;
         }
  
    .usersProductCards:hover {
      box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
      margin-bottom: 1px;
    }
  
    .usersProductCards h5{
      color: #282c34;
      text-decoration: none;
    }
   


/* BIG MOBILE */
@media (min-width: 370px) {
  .onboarding-img{
    margin-top: 300px;
  }
  .wrapper-registration{
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
  }
  
  .onboarding-img2{
    margin-top: 200px !important;
    width: 100%;
    margin: 0 auto;
  }
  .header-layout{
    display: unset;
  }
  .btnMobile{
    font-size: 14px;
  }
  .carousel-caption{
    position: absolute; 
    top: 20px; 
    z-index: 10;
    color: #fff;
    text-align: center;
  }
  .carousel-indicators{
    position: absolute; 
    top: 600px;
  }
  .carousel-indicators li {
    border-radius: 50%;
    border: .5px solid #006f9b !important;
    box-shadow: none !important;
    width: 15px !important;
    height: 15px !important;
  }
  .caption-label{
    color: #006f9b;
    font-size: 40px;
    margin: 0 !important;
  }
  .caption-text{
    color: grey;
    font-size: 25px;
    font-weight: lighter;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    box-shadow: inset 1px 1px 1px 1px rgba(0,111,155,0.7);    
  }
  
  .carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: #006f9b;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: hidden;
  }
  
  .carousel-control-next-icon:after
  {
    display: hidden;
  }
  
  .carousel-control-prev-icon:after {
    display: hidden;
  }
  .mobileLogo{
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    margin: 15px;
    
  }
  #imgDetail{
    object-fit: cover;
    
    width: 100% !important;
    height: 300px !important;
  }
  .searchBarDiv{
    padding: 0 !important;
   position: initial !important;
    width: 100% ;
  }

}



/* TABLET CSS */

@media (min-width: 600px) {
  #imgDetail{
    width: auto !important;
    height: 400px !important;
  }
  
  .onboarding-img{
    width: 100vw;
    height: 89vh;
    min-width: 600px !important;
    object-fit: contain;
    margin: 0 auto !important;
    padding: 150px 200px;
  }
  .onboarding-img2{
    width: 100vw;
    height: 89vh;
    min-width: 600px !important;
    object-fit: contain;
    margin: 0 auto !important;
    padding: 150px 200px;
  }
  .carousel-caption{
    position: absolute; 
    top: 0px; 
    z-index: 10;
    color: #fff;
    text-align: center;
  }
  .carousel-indicators{
    position: absolute; 
    top: 160px;
  }
  .carousel-indicators li {
    border-radius: 50%;
    border: .5px solid #006f9b !important;
    box-shadow: none !important;
    width: 15px !important;
    height: 15px !important;
  }
  .caption-label{
    color: #006f9b;
    font-size: 60px;
    margin: 0 !important;
  }
  .caption-text{
    color: grey;
    font-size: 25px;
    font-weight: lighter;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    box-shadow: inset 1px 1px 1px 1px rgba(0,111,155,0.7);    
  }
  
  .carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: #006f9b;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 100%, 100%;
    background-image: none;
  }
  
  .carousel-control-next-icon:after
  {
    content: '＞';
    font-size: 35px;
    color: #006f9b;
  }
  
  .carousel-control-prev-icon:after {
    content: '＜';
    font-size: 35px;
    color: #006f9b;
  }
  /* navbar */
.navbar{
  margin: 1% 4% 1% 4% !important;
}
.header-layout{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
  /* details */
  .wrapper-registration{
    background-color: white;
    border: grey;
    border-radius: 15px;
    margin: 0 auto;
    width: 400px;
    margin-top: 30px;
    height: auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  }
.btn-swapit-desktop{
background-color:  #006f9b;
color: whitesmoke;
width: 90%;
height: 60px;
font-size: 25px;
border-radius: 15px;
border: none;
}

.numUsers{
  padding: 0 !important;
  margin: 0 !important;

}


.btnHeartProfile{
  background-color: transparent !important;
  border: none !important;
  object-fit: contain !important;
}

.edit-btn-desktop{
  background-color: rgb(203, 145, 115);
  color: whitesmoke;
  width: 90%;
  height: 60px;
  font-size: 25px;
  border-radius: 15px;
  padding: 3% 15%;
  }
  


.detailsCard{
  
  padding: 0px 30px 80px 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.detailsImgCard{
  background-size: contain;
  background-repeat: no-repeat;
  width: 40% !important;
 }
.detailsContainer{
  width: 300px;
  height: 400px;
  padding: 2%;
  bottom: 1px;
  margin-bottom: 75px;
  margin-left: 15px;
}
.cardDetails{
  margin: 30px;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  background-color: whitesmoke;
}
.cardDetails2{
  margin: 30px;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  background-color: whitesmoke;
 padding: 15px;
}

/* discover */
.searchBarDiv{
  position: absolute !important;
  top: 30px !important;
  left: 22%;
  width: 60% !important;
}
.marginDiscover{
  margin-top: -0.5% !important;
  margin-left: 5%;
  margin-right: 5%;
}
  .discoverCard img{
    border-radius: 15px !important;
    object-fit: cover;
    width: 100%;
    max-width:100% !important;
    max-height: 150px;
    object-fit: cover;
  }
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox; 
  display: flex;
  margin-left: -30px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}
 
.my-masonry-grid_column > div { 
  margin-bottom: 30px;
}
.ImgContainerCard{
  width: auto !important;
  display: flex;
  align-items: flex-end;
 

}
.detailsImgCard{
width: 100% !important;
border-radius: 15px;
}
.searchBar{
  width: 60% !important;
margin-right: 70px !important;
  
}
}



.btnCategory2{
  width: 20%;
  height: 70px;
  border-radius: 15px !important;
  font-size: 20px !important;
  border: .5px solid black !important;
  background-color: white;
}
  .btnCategory2:after{
    content: "";
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    background-position : center right;
    background-repeat:no-repeat;

  }

  .btn-drawings2:after{
    background-image: url('./img/drawingsBlack.png');
    background-size: 40%;
  }
  .btn-drawings2:hover:after{
    background-image: url('./img/drawingsWhite.png');
  }
  .btn-drawings2:focus:after{
    background-image: url('./img/drawingsWhite.png');
  }
 
  .btn-wood2:after{
    background-image: url('./img/woodBlack.png');
    background-size: 50%;
  }
  .btn-wood2:hover:after{
    background-image: url('./img/woodWhite.png');
  }
  .btn-wood2:focus:after{
    background-image: url('./img/woodWhite.png');
  }
  .btn-textile2:after{
    background-image: url('./img/textileBlack.png');
    background-size: 45%;
  }
  .btn-textile2:hover:after{
    background-image: url('./img/textileWhite.png');
  }
  .btn-textile2:focus:after{
    background-image: url('./img/textileWhite.png');
  }
  .btn-decoration2:after{
    background-image: url('./img/decorationBlack.png');
    background-size: 35%;
  }
  .btn-decoration2:hover:after{
    background-image: url('./img/decorationWhite.png');
  }
  .btn-decoration2:focus:after{
    background-image: url('./img/decorationWhite.png');
  }
  .btn-photography2:after{
    background-image: url('./img/photographyBlack.png');
    background-size: 60%;
  }
  .btn-photography2:hover:after{
    background-image: url('./img/photographyWhite.png');
  }
  .btn-photography2:focus:after{
    background-image: url('./img/photographyWhite.png');
  }
  .btn-allProducts2:after{
    background-image: url('./img/allProductsBlack.png');
    background-size: 40%;
  }
  .btn-allProducts2:hover:after{
    background-image: url('./img/allProductsWhite.png');
  }
  .btn-allProducts2:focus:after{
    background-image: url('./img/allProductsWhite.png');
  }
  .searchBarDiv{
    padding: 0 !important;
    position: absolute;
    width: 50% ;
    top: 2.5%;
    left: 26%;
  
  }

  



/* DESKTOP */
  @media (min-width: 1100px) {
   
  
    .onboarding-img{
      width: 100vw;
      height: 89vh;
      min-width: 600px !important;
      max-width: 1000px;
      object-fit: contain;
      margin: 0 auto !important;
     
    }
    .onboarding-img2{
      width: 100vw;
      height: 89vh;
      min-width: 600px !important;
      max-width: 1000px;
      object-fit: contain;
      margin: 0 auto !important;
      
    }
    .searchBar{
      width: 100% !important;
      margin-top: 5px !important;
     
    }
    .carousel-caption{
      position: absolute; 
      top: 0px; 
      z-index: 10;
      color: #fff;
      text-align: center;
    }
    .carousel-indicators{
      position: absolute; 
      top: 130px;
    }
    .carousel-indicators li {
      border-radius: 50%;
      border: .5px solid #006f9b !important;
      box-shadow: none !important;
      width: 15px !important;
      height: 15px !important;
    }
    .caption-label{
      color: #006f9b;
      font-size: 60px;
      margin: 0 !important;
    }
    .caption-text{
      color: grey;
      font-size: 25px;
      font-weight: lighter;
    }
    .carousel-indicators li {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 10px;
      text-indent: 0;
      cursor: pointer;
      border: none;
      box-shadow: inset 1px 1px 1px 1px rgba(0,111,155,0.7);    
    }
    
    .carousel-indicators .active {
      width: 48px;
      height: 48px;
      margin: 10px;
      background-color: #006f9b;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-size: 100%, 100%;
      background-image: none;
    }
    
    .carousel-control-next-icon:after
    {
      content: '＞';
      font-size: 35px;
      color: #006f9b;
    }
    
    .carousel-control-prev-icon:after {
      content: '＜';
      font-size: 35px;
      color: #006f9b;
    }
    .header-layout{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10vh;
    }
    .wrapper-registration{
      background-color: white;
      border: grey;
      border-radius: 15px;
      margin: 0 auto;
      width: 400px;
      margin-top: 30px;
      height: auto;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
    }

#imgDetail{
  width: auto !important;
  height: 500px !important;
}
.ImgContainerCard{
  float: left !important;
}
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox; 
  display: flex;
  margin-left: -30px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}
 
.my-masonry-grid_column > div { 
  margin-bottom: 30px;
}
}

/* discover */

.discoverCard img{
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  max-width:550px;
  max-height: 450px;
  object-fit: cover;
}
.discoverCard img:hover{
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  margin-bottom: 1px;
}

.discoverCard h5{
  color: #282c34;
}

.logOutIcon{
  font-size: 40px !important;
}
.sizeEdit{
  font-size: 30px !important;
  font-weight: 300 !important;
  border:none !important;
  background-color: white;
  color:#006f9b;
}
.sizeEdit:hover{
  color:#005272;
}

.blueSwapitP{
  font-weight: 300 !important;
  border:none !important;
  background-color: white;
  color:#006f9b;
}
.blueSwapitP:hover{
  color:#005272;
}

.styleNameAndLastname{
  font-size: 35px !important;
  font-weight: 100 !important;
  margin-bottom: 0 !important;
}
.boxChat{
  background-color: whitesmoke;
  border-radius: 15px;
}
.ItemsBurger{
  background-color: whitesmoke;
  border-radius: 15px;
}
.noneMargin{
  margin: 0;
  font-size: 20px;
  color: black !important;
}
.horizontal-line{
 
  width: 90%;
  margin: 0 auto;
  border-bottom: 0;
  height: 1px !important;
}
.noneMarginFilter{
margin:0;
}