.App {
  text-align: center;
  
}
*{
  box-sizing: border-box;
  outline: none !important;
  text-decoration: none !important;
}

/* MOBILE */
.creatorImage{

}
.my-masonry-grid {padding: none;}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navbar */
.marginDiscover{
  margin: 5%;
}
.navIcons{
  width: 2rem;
}
.backIcons{
width: 1rem;
}
.backLogo{
  width: 20px;
 
  }
.logandedit{
  display: flex;
  align-content: center;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.backBG{
top: 50px;
padding: 10px;
width: 50px;
border-radius: 50%;
background-color: rgba(255,255,255,.2);
}
.navbar{
  width: 100%;
}
.profileImg{
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.deleteProd{
  bottom: 2%;
  left: 5%;
}
.creationsImg{
  border-radius:15px 15px 0 0 !important;
}
.profileImgNav{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid oldlace;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
}

/* profile */
.creatorDetails img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.haveListCard img{
max-width: 10.5rem;
max-height: 100%;
object-fit: cover;
border-radius: 5px;
}

.haveListCard{
  padding: 0 !important;
  font-size: .9rem;
}

.haveListCard>img:hover {
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  margin-bottom: 1px;
}

.heart{
  
  width: 30px;
}

/* .haveList{
width: 95%;
} */

.addCreation-btn{
    background-color: rgb(250, 230, 186) !important;
    border: 2px solid #FACF72 !important;
    color: rgb(54, 53, 53) !important;
    border-radius: 15px !important;
    font-size: 1.5rem !important;
    padding: 0.5rem 1rem !important;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

/* discover */
.dropdown{
  width: 20px;  
  height: 12px;
  bottom: 6px;
}
.creationsCard img{
object-fit: cover;
  width: 100%;
  max-width:450px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 15px;
  }

  .creationsCard>img:hover {
    box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
    margin-bottom: 1px;
  }

  .creationsCard h5{
    color: #282c34;
    text-decoration: none;
  }
  /* details */

  .btn-swapit-mobile{
    background-color: cadetblue;
    color: whitesmoke;
    width: 80%;
    height: 60px;
    font-size: 25px;
    border-radius: 15px;
    }

    .edit-btn-mobile{
      background-color: rgb(203, 145, 115);
      color: whitesmoke;
      width: 80%;
      height: 60px;
      font-size: 25px;
      border-radius: 15px;
      }

  .cardDetails2{
    margin: 30px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    background-color: whitesmoke;
   padding: 15px;
  }

  .detailsCard img{
    max-width: 100%;
  }
  
  .imgContainer{
    position: relative;
    background-size: cover;
    min-width: 95%;
    min-height: 400px;
    max-height: 500px;
    border-radius: 15px;
  }

  .btn-heart {
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-back {
    width: 40px;
    height: 40px;
  }

.swapit-btn button{
  font-size: 25px;
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none !important;
}

.creatorImage{
  object-fit: cover;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
  margin-bottom: 2%;
}

.creatorDetails{
  font-size: 15px;
  color: #282c34;

}
.creatorDetails p {
  padding: 0 20px;
}


.creationsCard img:hover{
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  margin-bottom: 1px;
}

.descriptionCard{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.descriptionCard:hover{

    text-overflow: unset;
    overflow:show;
    white-space: normal;

}
.imgCard{
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  border-radius: none !important;
  
}

/* discover */
.discoverCard{
  margin-bottom: 15% !important;
}
.discoverCard img{
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  max-width:550px;
  max-height: 450px;
  object-fit: cover;
}
.discoverCard img:hover{
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  margin-bottom: 1px;
}

.discoverCard h5{
  padding-top: 3%;
  color: #282c34;
}


/* mobile categories */

.btnCategory{
  width: 120px;
  height: 35px;
  border-radius: 0px !important;
  padding-bottom:35px!important;
  font-size: 16px !important;
}

.btn-drawings{
background-color:rgba(66, 21, 55, .9) !important;
border: 3px solid #320A28 !important;
color: oldlace !important
}

.btn-wood{
  background-color: rgba(81, 23, 48, .9) !important;
  border: 3px solid  rgb(81, 23, 48)!important;
  color: oldlace !important
}

.btn-textile{
  background-color: rgba(142, 68, 61, .9) !important;
  border: 3px solid  rgb(142, 68, 61)!important;
  color: #282c34 !important;
}

.btn-decoration{
  background-color: rgba(203, 145, 115, .8) !important;
  border: 3px solid  rgb(203, 145, 115)!important;
  color: #282c34 !important;
}

.btn-photography{
  background-color: rgb(226, 218, 160) !important;
  border: 3px solid  rgb(224, 214, 138)!important;
  color: #282c34 !important;
}

  .btn-drawings2:hover{
    background-color:rgba(66, 21, 55, .7) !important;
    border: 2px solid rgba(66, 21, 55, .9) !important;
    color: white !important
    }
    
    .btn-drawings2:focus{
      background-color:rgba(66, 21, 55, .9) !important;
      border: 2px solid rgba(66, 21, 55, .9) !important;
    color: white !important
      }
    
  .btn-wood2:hover{
    background-color: rgba(81, 23, 48, .5) !important;
    border: 2px solid rgba(81, 23, 48, .9) !important;
    color: white !important
  }
  .btn-wood2:focus{
    background-color: rgba(81, 23, 48, .9) !important;
    border: 2px solid rgba(81, 23, 48, .9) !important;
    color: white !important
  }

  .btn-textile2:hover{
    background-color: rgba(142, 68, 61, .6) !important;
    border: 2px solid rgba(142, 68, 61, .6) !important;
    color: white !important
  }
  .btn-textile2:focus{
    background-color: rgba(142, 68, 61, 1) !important;
    border: 2px solid rgba(142, 68, 61, 1) !important;
    color: white !important
  }

  .btn-decoration2:hover{
    background-color: rgba(203, 145, 115, .6) !important;
    border: 2px solid rgba(203, 145, 115, .6) !important;
    color: white !important
   
  }
  .btn-decoration2:focus{
    background-color: rgba(203, 145, 115, 1) !important;
    border: 2px solid rgba(203, 145, 115, 1) !important;
    color: white !important
  }

  .btn-photography2:hover{
    background-color:rgba(226, 218, 160, .6) !important;
    border: 2px solid rgba(226, 218, 160, .6) !important;
    color: white !important
  }
  .btn-photography2:focus{
    background-color: rgba(226, 218, 160, 1) !important;
    border: 2px solid rgba(226, 218, 160, 1)!important;
    color: white !important
  }
  
  .btn-allProducts2:hover{
    background-color:rgba(99, 95, 95, .5)!important;
    border: 2px solid rgba(99, 95, 95, .5)!important;
    color: white !important
  }
  .btn-allProducts2:focus{
    background-color:gray!important;
    border: 2px solid rgba(99, 95, 95, .5)!important;
    color: white !important
  }
  
#category-collapse button {
  width: 100%;
}

.category-group{
  border-radius: 15px;
}

.btn-searchCategory{
  width: 100%;
  height: 45px;
  border: 2px solid oldlace !important;
  background-color: rgba(147, 180, 139, 0.2) !important;
  color:oldlace !important;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

.searchBar{
  width: 100%;
  height: 45px;
  border-radius: 15px;
  border: 1px solid gainsboro;
  background-color: rgba(255,255,255,.6);
  padding: 0 !important;
 
}

/* user Profiles */

.modalUsers{
  border-radius: 15px;
  background-color: whitesmoke;
}
.modalUsers img{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
}

.modalUsers h5{
  margin: 0 !important;
  color: #282c34 !important;
}

.bgDeleteProduct{
  border-color: rgba(40, 44, 52, 0.5) !important;
  border-radius: 50% !important;
}

.containerUserProfile{
  margin: 5%;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 3%;
}
.usersProductCards{
  padding: 3%;
  border-radius: 15px;

}

.usersProdImg{
  border-radius: 15px 15px 0 0 !important;
}

.usersProductCards img{
  object-fit: cover;
    width: 100%;
    max-width:450px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 15px;
    }
    .heartProfile{
     width: 20px !important;
      }
  
    .usersProductCards:hover {
      box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
      margin-bottom: 1px;
    }
  
    .usersProductCards h5{
      color: #282c34;
      text-decoration: none;
    }



/* BIG MOBILE */
@media (min-width: 400px) {
  #imgDetail{
    width: auto !important;
    height: 300px !important;
  }
}



/* TABLET CSS */

@media (min-width: 600px) {
  /* navbar */
.navbar{
  margin: 1% 4% 1% 4% !important;
}
  /* details */
 
.btn-swapit-desktop{
background-color: cadetblue;
color: whitesmoke;
width: 90%;
height: 60px;
font-size: 25px;
border-radius: 15px;
}

.numUsers{
  padding: 0 !important;
  margin: 0 !important;

}


.btnHeartProfile{
  background-color: transparent !important;
  border: none !important;
  object-fit: contain !important;
}

.edit-btn-desktop{
  background-color: rgb(203, 145, 115);
  color: whitesmoke;
  width: 90%;
  height: 60px;
  font-size: 25px;
  border-radius: 15px;
  padding: 3% 15%;
  }
  


.detailsCard{
  
  padding: 0px 30px 80px 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.detailsImgCard{
  background-size: contain;
  background-repeat: no-repeat;
  width: 40% !important;
 }
.detailsContainer{
  width: 30%;
  height: 400px;
  padding: 2%;
  bottom: 1px;
}
.cardDetails{
  margin: 30px;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  background-color: whitesmoke;
}
.cardDetails2{
  margin: 30px;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  background-color: whitesmoke;
 padding: 15px;
}

/* discover */
.searchBarDiv{
  position: absolute;
  top: 3%;
  left: 22%;
  width: 60% !important;
}
.marginDiscover{
  margin-top: -0.5% !important;
  margin-left: 5%;
  margin-right: 5%;
}
  .discoverCard img{
    border-radius: 15px !important;
    object-fit: cover;
    width: 100%;
    max-width:100% !important;
    max-height: 150px;
    object-fit: cover;
  }
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox; 
  display: flex;
  margin-left: -30px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}
 
.my-masonry-grid_column > div { 
  margin-bottom: 30px;
}
.ImgContainerCard{
  width: auto !important;
  display: flex;
  align-items: flex-end;
 

}
.detailsImgCard{
width: 100% !important;
border-radius: 15px;
}
}

/* desktop-tablet categories */
.btnCategory2{
  width: 20%;
  height: 70px;
  border-radius: 15px !important;
  font-size: 20px !important;
  border: .5px solid black !important;
  background-color: white;
}
  .btnCategory2:after{
    content: "";
    width: 40%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    background-position : center right;
    background-repeat:no-repeat;

  }

  .btn-drawings2:after{
    background-image: url('./img/drawingsBlack.png');
    background-size: 40%;
  }
  .btn-drawings2:hover:after{
    background-image: url('./img/drawingsWhite.png');
  }
  .btn-drawings2:focus:after{
    background-image: url('./img/drawingsWhite.png');
  }
 
  .btn-wood2:after{
    background-image: url('./img/woodBlack.png');
    background-size: 50%;
  }
  .btn-wood2:hover:after{
    background-image: url('./img/woodWhite.png');
  }
  .btn-wood2:focus:after{
    background-image: url('./img/woodWhite.png');
  }
  .btn-textile2:after{
    background-image: url('./img/textileBlack.png');
    background-size: 45%;
  }
  .btn-textile2:hover:after{
    background-image: url('./img/textileWhite.png');
  }
  .btn-textile2:focus:after{
    background-image: url('./img/textileWhite.png');
  }
  .btn-decoration2:after{
    background-image: url('./img/decorationBlack.png');
    background-size: 35%;
  }
  .btn-decoration2:hover:after{
    background-image: url('./img/decorationWhite.png');
  }
  .btn-decoration2:focus:after{
    background-image: url('./img/decorationWhite.png');
  }
  .btn-photography2:after{
    background-image: url('./img/photographyBlack.png');
    background-size: 60%;
  }
  .btn-photography2:hover:after{
    background-image: url('./img/photographyWhite.png');
  }
  .btn-photography2:focus:after{
    background-image: url('./img/photographyWhite.png');
  }
  .btn-allProducts2:after{
    background-image: url('./img/allProductsBlack.png');
    background-size: 40%;
  }
  .btn-allProducts2:hover:after{
    background-image: url('./img/allProductsWhite.png');
  }
  .btn-allProducts2:focus:after{
    background-image: url('./img/allProductsWhite.png');
  }
  .searchBarDiv{
    padding: 0 !important;
    position: absolute;
    width: 50% !important;
    top: 2.5%;
    left: 26%;
  
  }

  #imgDetail{
    width: auto !important;
    height: 400px !important;
  }




/* DESKTOP */
  @media (min-width: 1100px) {

#imgDetail{
  width: auto !important;
  height: 500px !important;
}
.ImgContainerCard{
  float: left !important;
}
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox; 
  display: flex;
  margin-left: -30px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}
 
.my-masonry-grid_column > div { 
  margin-bottom: 30px;
}
}

/* discover */

.discoverCard img{
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  max-width:550px;
  max-height: 450px;
  object-fit: cover;
}
.discoverCard img:hover{
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  margin-bottom: 1px;
}

.discoverCard h5{
  color: #282c34;
}