.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navbar */
.navIcons{
  width: 2rem;
}
.navbar{
  border-radius: 15px;
  margin: 1rem;
  width: 100%;
}
.profileImg{
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* profile */

.creatorDetails img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.haveListCard img{
max-width: 10.5rem;
max-height: 100%;
object-fit: cover;
border-radius: 5px;
}

.haveListCard{
  padding: 0 !important;
  font-size: .9rem;
  
}

.haveListCard>img:hover {
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  margin-bottom: 1px;
}

.heart{

  width: 30px;
}

/* .haveList{
width: 95%;
} */

.addCreation-btn{
    background-color: rgb(250, 230, 186) !important;
    border: 2px solid #FACF72 !important;
    color: rgb(54, 53, 53) !important;
    border-radius: 10px !important;
    font-size: 1.5rem !important;
    padding: 0.5rem 1rem !important;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}


/* discover */

.creationsCard img{
object-fit: cover;
  width: 100%;
  max-width:450px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 5px;
  }

  .creationsCard>img:hover {
    box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
    margin-bottom: 1px;
  }

  .creationsCard h3{
    color: #282c34;
    text-decoration: none;
  }
  /* details */

  .detailsCard img{
    max-width: 100%;
  }
  
  .imgContainer{
    position: relative;
    background-size: cover;
    min-width: 95%;
    min-height: 400px;
    max-width: 100%;
    max-height: 500px;
    border-radius: 5px;
    
  }

  .btn-heart {
    position: absolute;
    right: 3%;
    width: 50px;
    height: 50px;
    bottom: 3%;
    background-color: rgba(255,255,255,.2);
    border-radius: 50%;
    padding: 10px;
  }
.swapit-btn{
  position: absolute;
  bottom: 3%;
  margin: 0 auto;
  left: 3%;

}
.swapit-btn button{
  font-size: 25px;
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none !important;
}

.creatorImage{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.creatorDetails{
  font-size: 15px;
  color: #282c34;

}
.creatorDetails p {
  padding: 0 20px;
}

.creationsCard{
  border-radius: 10px !important;
}
.creationsCard:hover{
  box-shadow: 0 0 10px 2px rgba(0,0,0,.6);
  margin-bottom: 1px;
}

.descriptionCard{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.descriptionCard:hover{

    text-overflow: unset;
    overflow:show;
    white-space: normal;


}
.imgCard{
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  border-radius: none !important;
  
}
